
h1 {
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.table-container {


  border: 2px solid rgb(140 140 140);
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: auto;
  padding: 10px;
  transform: scale(1.25);

  thead {

    th {
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }
  
  }

  tbody{

    margin: 0;

  }

  tfoot {
    padding-top: 1rem;

    button {
      border: none;
      background: none;
      cursor: pointer;
      width: 3rem;
      transition: all 0.5s ease-in-out;

      :hover {
        opacity: 0.8;
        color: #09f;

      }

      :active {
        color: grey;
      }
    }
  }




    .btnSvg {
      border: none;
      background: none;
      cursor: pointer;
      width: 2rem;
      transition: all 0.5s ease-in-out;
      

      :hover {
        opacity: 0.8;
        color: #09f;

      }

      :active {
        color: grey;
      }

    }

    hr {
      border: none;
      border-top: 1px solid black;;
    }
    

  
}
