* {
  box-sizing: border-box;
}


html {
  display: flex;
  justify-content: center;
  align-items: center;
}


.table-title {
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
}

.table-container {

  border: 2px solid rgb(140 140 140);
  width: auto;
  overflow: auto;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 1rem 0 0 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  table-layout:fixed;

  thead {

    th {
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }

  }

  tbody {

    td {

      padding-right: 1rem;
      
      &:focus {
        outline: #09f;
        border-radius: 10px;
        border-color: #09f;
        box-shadow: #09f 0px 0px 10px;
      }
    }

  }

  .btnSvg {
    border: none;
    background: none;
    cursor: pointer;
    width: 2rem;
    transition: transform 0.5s ease;


    &:hover {
      opacity: 0.8;
      color: #09f;
      transform: scale(1.2);

    }

    &:active {
      color: grey;
    }

  }

  #addUserBtn {
    width: 3rem;
  }

  hr {
    border: none;
    border-top: 1px solid black;
    ;
  }
}

.newUserContainer {

  border: 2px solid rgb(140 140 140);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  h1 {
    font-family: sans-serif;
    letter-spacing: 1px;
  }


  :focus {
    outline: none;
    border-color: #09f;
    box-shadow: #09f 0px 0px 10px;
  }

  input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(140 140 140);
    width: 50%;


  }

  button {

    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: #09f;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;

    &:hover {
      opacity: 0.8;
      background-color: #09f;
      transform: scale(1.05);
    }

    &:active {
      background-color: grey;
    }

  }
}

.form-button-container {
  button{
    margin-right: 1rem;

    &:last-child {
      background-color: rgb(189, 12, 12);
    }
  }
}
